nav {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #0077b6;
  padding: 24px 20px;
}

ul {
  display: flex;
  gap: 20px;
  font-size: 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 30px;
  font-weight: 600;
}

nav a {
  color: white;
}
